* {
  font-family: "Josefin Sans";
  background: #f8f9fa;
  overflow-x: hidden;
}
:root {
  --primary-color: #0cc349;
  --bg-color: #f8f9fa;
}
/* ------------------------------N a v b a r   S t y  l i n g ----------------------------- */
.link-active {
  font-weight: 500;
  border-bottom: 2px solid var(--primary-color);
  color: var(--primary-color) !important;
}
.nav-link {
  font-size: 1.3rem;
  font-weight: lighter !important;
}
.navbar-brand {
  font-size: 1.6rem;
}
.brandname {
  color: var(--primary-color);
}
.navbar_main {
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: sticky;
  top: 0rem;
  z-index: 999;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
}
.nav-link:hover {
  color: rgb(11, 218, 81) !important;
}
.btn-style {
  background: var(--primary-color);
  color: #fff;
  margin: 0 1rem;
  border-radius: 20rem;
  border: 2px solid var(--primary-color);
}
.btn-style:hover {
  background: transparent;
  border: 2px solid var(--primary-color);
}
.btn-style-border {
  border: 2px solid var(--primary-color);
  border-radius: 20rem;
}
.btn-style-border:hover {
  background: var(--primary-color);
  color: #fff;
}
.justify_text {
  text-align: justify;
}
/* ------------------------------------Header Section (Home)---------------------------------------------- */
.main_header_section {
  height: 90vh;
}
strong {
  color: var(--primary-color);
}
/* -------------Header Left Side----------------- */

.header_left_side {
  height: 80vh;
}
.header_left_side p {
  margin-top: 2rem;
  font-size: 1.3rem;
}
/* -------------Header Right Side----------------- */
.header_right_side {
  position: relative;
}
.main_header_img1 {
  height: 80%;
  width: 55%;
  position: absolute;
  border-radius: 1rem;
}
.main_header_img2 {
  position: absolute;
  width: 30%;
  left: 55%;
  top: 1%;
  border-radius: 0.3rem;
  height: 18%;
}
/* }---------------------- *
/* --------------------------------------How TO Start------------------------------------- */
.how_to_start {
  padding: 2rem;
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  margin: 4rem auto;
  border-radius: 0.5rem;
}
.cdn_style {
  font-size: 2rem;
  color: var(--primary-color);
  display: grid;
  place-items: center;
  margin: 2rem auto;
  width: 5rem;
  height: 5rem;
  border-radius: 5rem;
  background: var(--bg-color);
  cursor: pointer;
}
.cards {
  box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  cursor: pointer;
}
.cards:hover {
  background: var(--bg-color) !important;
}
.cards:hover > h4 {
  background: var(--bg-color) !important;
}
.cards:hover > p {
  background: var(--bg-color) !important;
}
.cards:hover > .cdn_style {
  background: #fff;
  cursor: pointer;
}
/* -----------------------------H O W   T O   P A Y ------------------------------- */
.pay_img {
  border-radius: 0.5rem;
}
.num {
  font-size: 1.2rem;
  font-weight: bold;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  background: var(--primary-color);
  color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  --------------------------------C o n t a c t   P a g e--------------------------------------- */
.contact_img {
  height: 90%;
  width: 80%;
  border-radius: 0.5rem;
}
.info_center {
  text-align: justify;
}
.social_style {
  font-size: 2rem;
  background: transparent;
  color: #fff;
  padding: 0rem;
  cursor: pointer;
}
/* ---------------------------Error Page--------------------------------- */
.error_404 {
  height: 91vh;
}
